body {
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 75px;
}

/* header styles */
header {
    display: flex;
    position: relative;
    text-align: center;
}

.newyear {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.newyear-div {
    background-position: center;
    border-radius: 16px;
    width: auto;
    height: 600px;
    padding: 80px 150px 120px;
    background-image: url('../images/Banner.png');
    background-repeat: no-repeat;
}

.newyear-greeting {
    color: #FFF;
    font-size: 28px;
    font-weight: 400;
    margin-top: 160px;
}

.newyear-party {
    color: #FFF;
    font-weight: 700;
    font-family: Merriweather;
    padding: 0 250px;
    margin-left: 150px;
    /* 131.944% */
}

.offer {
    font-family: inter;
    text-align: center;
}

.off {
    color: #f00;
    font-weight: 700;
}

.deals {
    font-family: Inter;
    margin-top: 48px;
    color: #f00;
    font-weight: 500;
}

.categori {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
}

.newyear-photo {
    margin-top: 48px;
    margin-bottom: 120px;
}

.welcome {
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* justify-content: center; */
    /* align-items: center; */
    width: 1320px;
    height: 600px;
    text-align: center;
    padding: 40px 50px 120px 50px;
}

.welcome-div {
    width: 60%;
    margin-top: -400px;
}
.welcome-div1 {
    background-position: bottom right;
}

.welcome-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 500;
    margin-top: 530px;
    letter-spacing: 7.04px;
}

.description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    /* 166.667% */
}

.join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.year2024 {
    float: right;
    margin-top: -350px;
    margin-right: 160px;
}

.joinnow {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1000px;
    height: 200px;
    border-radius: 8px;
    margin-left: 70px;
    margin-top: 100px;
    text-align: center;
    padding: 250px 150px;
}

.btn-primary {
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    margin-top: 40px;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}









































































































































































































