body {
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 75px;
}

/* header styles */
header {
    display: flex;
    position: relative;
    text-align: center;
}

p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.newyear {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.newyear-div {
    background-position: center;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin-left: 25px;
    background-image: url('../images/Banner.png');
    background-repeat: no-repeat;
}

.newyear-greeting {
    color: #FFF;
    font-size: 28px;
    padding: 60px 0px;
    text-align: center;
    margin-top: 60px;
}

.newyear-party {
    text-align: center;
    color: #FFF;
    display: flex;
    font-family: Merriweather;
    padding: 0 150px;
}

.offer {
    font-family: inter;
    text-align: center;
}

.off {
    color: #f00;
    font-weight: 700;
}

.deals {
    font-family: Inter;
    margin-top: 48px;
    color: #f00;
    font-weight: 500;
}

.categori {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
}

.newyear-photo {
    margin-top: 48px;
    margin-bottom: 120px;
}

.welcome {
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    /* justify-content: center; */
    /* align-items: center; */
    width: 1320px;
    height: 600px;
    text-align: center;
    padding: 40px 50px 120px 50px;
}

.welcome-div {
    width: 60%;
    margin-top: -400px;
}

.welcome-div1 {
    background-position: bottom right;
}

.welcome-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 500;
    margin-top: 530px;
    letter-spacing: 7.04px;
}

.description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.year2024 {
    float: right;
    margin-top: -350px;
    margin-right: 160px;
}

.joinnow {
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1000px;
    height: 200px;
    border-radius: 8px;
    margin-left: 60px;
    margin-top: 50px;
    text-align: center;
    padding: 120px 150px;
}

.btn-primary {
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    margin-top: 40px;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.div {
    background: #FFF;
    display: flex;
    margin-top: 200px;
    text-align: center;
    display: inline-flex;
    padding: 16px 32px;
}

h2 {
    font-size: 45px;
}

.soon {
    font-family: Merriweather;
}

.div1 {
    width: 25%;
    margin-left: 60px;
}

.div2 {
    width: 35%;
    margin-left: auto;
}

.circle {
    border-radius: 55%;
    border: 15px solid #F00;
}

.div3 {
    width: 25%;
    margin-left: auto;
}

.holi {
    background: #FFF;
    width: 1350px;
    height: auto;
    text-align: center;
    border-radius: 8px;
    margin-top: 200px;
}

.what {
    color: #070211;
    font-family: Inter;
}

.holiday-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
}

.holiday {
    color: #F00;
    text-align: center;
}

.back-img,
.div-img {
    position: relative;
    width: auto;
    display: flex;
    /* justify-content: space-between; */

}

.div-img1 {
    position: absolute;
    margin-top: 575px;
}

.div-img2 {
    position: absolute;
    width: 20%;
    margin-top: 142px;
    margin-left: 890px;
}

.div-img3 {
    position: relative;
    width: 20%;
    margin-top: 190px;
    margin-left: 360px;
}

.div-img4 {
    position: relative;
    width: 20%;
    margin-top: 50px;
    margin-left: 65px;
}

/* done the 50% discount here */
.portfolio-div {
    background: #FFF;
    margin-top: 250px;
    width: auto;
}

.portfolio-divimg {
    text-align: left;
}

.best {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
}

.imge1:hover {
    background-color: rgb(241, 213, 54);
}

.imge2:hover {
    background-color: rgb(241, 213, 54);
}

.imge3:hover {
    background-color: rgb(241, 213, 54);
}

.imge4:hover {
    background-color: rgb(241, 213, 54);
}

.imge5:hover {
    background-color: rgb(241, 213, 54);
}

.imge6:hover {
    background-color: rgb(241, 213, 54);
}